@page
@model MoodApp.Pages_Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.currUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.currUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.currUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.currUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.currUser.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.currUser.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.currUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.currUser.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.currUser?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
